.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200; /* Adjust the z-index to make it cover everything */
}

.modal {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  border-radius: 8px;
  z-index: 1201; /* Make the modal appear on top of the overlay */

  /* width: 90%; */
  /* min-width: 300px;
  max-width: 700px; */
  /* overflow-x: auto; */
}
