.selectedItem {
    background-color: #e0e0e0; /* Define your selected item background color */
    color: red;
    
  }
  
  .unselectedItem {
    background-color: transparent; /* Define your unselected item background color */

  }
  