.fc {
  width: 100% !important;
}

.fc-timegrid-slot-label-cushion {
  font-size: 0.75rem;
}

.fc-toolbar-title {
  font-size: 18px !important;
}

.fc-button {
  font-size: 0.75rem !important;
  padding: 8px;
}

@media (max-width: 500px) {
  .fc-toolbar-title {
    font-size: 0.875rem !important; /* Adjusted size for smaller screens */
  }
}
